<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./inc/head")%>
</head>

<body>

    <%- include("./inc/nav")%>
        <section>
            <h1>Hakkımızda</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In nam perferendis fugit eligendi accusantium a
                animi quibusdam aliquid cumque eveniet illo debitis laboriosam, natus molestiae ullam consequuntur unde
                nisi maiores!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In nam perferendis fugit eligendi accusantium a
                animi quibusdam aliquid cumque eveniet illo debitis laboriosam, natus molestiae ullam consequuntur unde
                nisi maiores!</p>
        </section>
















        <!-- değişken tanımlama -->
        <!--  <% let name = "Burak" %>
    <h1>about</h1> -->

        <!-- tanımlanmış olan değişkeni kullanmak -->
        <!-- <p><%= name %></p> -->
</body>

</html>